.main-wrapper {
    display: flex;
}

.footer  {
    width: 33%;
}

.song-info {
    display: flex;
    padding: 20px;
}

.now-playing__cover {
    height: 50px;
    width: 50px;
}

.now-playing__side {
    max-height: 50px;
    align-items: center;
    text-align: left;
}

.now-playing__name {
    text-overflow: ellipsis;
}

.timestamp-text{
    margin: 15px;
}