@use './variables' as base;

@mixin iconbuttons($color: base.$spotify-white) {
    color: $color;
}

@mixin panel($height: calc(base.$default-height-calc), $width: 50%, $background-color: base.$spotify-black) {
    margin: auto 15px auto 15px;
    border-radius: 20px;
    height: $height;
    width: $width;
    background-color: $background-color;
}

@mixin listitem($width: 100%, $cursor: default, $max-height: 70px) {
    display: flex;
    width: $width;
    padding: 5px;
    cursor: $cursor;
    max-height: $max-height;
}

@mixin placeholder-image($width: base.$cover-image-small, $height: base.$cover-image-small, $background: base.$grey, $object-fit: none) {
    width: $width;
    height: $height;
    background: $background;
    object-fit: $object-fit;
    border-radius: 5px;
    display: flex;
    float: left;
    cursor: pointer;
}

@mixin liked-songs-cover($width: base.$cover-image-small, $height: base.$cover-image-small) {
    @include placeholder-image(
        $width: $width,
        $height: $height,
        $background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(233,251,255,1) 100%)
    );
}

@mixin custom-image-cover($width: base.$cover-image-small, $height: base.$cover-image-small) {
    @include placeholder-image(
        $width: $width,
        $height: $height,
        $object-fit: cover
    );
}

@mixin no-image-cover($width: base.$cover-image-small, $height: base.$cover-image-small) {
    @include placeholder-image(
        $width: $width,
        $height: $height
    );
}
