$spotify-green: #1db954;
$spotify-white: #ffffff;
$spotify-black: #191414;

$grey: #2b2424;
$light-grey: #333030;

$padding-default: 10px;
$margin-default: 10px;

$font-large: 20px;
$font-medium: 16px;
$font-small: 12px;

$cover-image-large: 150px;
$cover-image-medium: 70px;
$cover-image-small: 50px;

$header-height: 80px;
$footer-height: 100px;

$default-height-calc: calc(100vh - $header-height - $footer-height);