@use '../abstracts/variables' as base;

.chat-window {
    width: 300px;
    max-width: 300px;
    float: right;
}

.chat-header {
    background-color: base.$spotify-green;
    width: 300px;
    max-width: 300px;
}

.chat-body {
    background-color: base.$grey;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
}

.chat-footer {
    background-color: base.$grey;
    width: 300px;
    max-width: 300px;
}