@use '../abstracts/variables' as base;
@import '../abstracts/mixins';

.playlist-object {
    @include listitem($cursor: pointer);
}

.playlist-object:hover {
    background-color: base.$light-grey;
}

.track-object {
    @include listitem($width: 100%, $max-height: 50px);
}

.track-object:hover {
    background-color: base.$light-grey;
}

.item-info {
    text-align: left;
    padding: 5px;
    margin: auto 5px auto 5px;
}

.t-name {
    width: 250px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 20px;
}

.t-album {

}

.t-date {
    width: 100px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 20px;
}

.track-duration {
    width: 50px;
    margin: auto 0 auto 0;
}

.track-index {
    width: 50px;
    margin: auto 0 auto 0;
    cursor: pointer;
}

.playlist-icon {
    font-size: large;
    transform: translate(0%, 100%);
}