@use '../abstracts/variables' as base;


.panel {
    margin: auto 10px auto 10px;
    border-radius: 20px;
    height: calc(base.$default-height-calc - 20px);
    width: 50%;
    background-color: base.$spotify-black;
}

.panel-title-text {
    font-size: base.$font-large;
}

.panel-body {
    width: 95%;
    margin: auto;
    max-height: calc(base.$default-height-calc - 20px - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

.track-panel-table-header {
    margin: auto;
    display: flex;
}

.track-panel-body {
    width: 95%;
    margin: auto;
    max-height: calc(base.$default-height-calc - 20px - 150px - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-room {
    @include panel($height: calc(base.$default-height-calc))
}

.panel-empty {
    margin: auto;
    top: 50%;
    position: relative;
}

.panel-header {
    display: flex;
    padding: 15px;
}

.panel-header-asdf {
    height: 260px;
}

.panel-header-options {
    padding: 15px;
}

.panel-header-image {
    width: 150px;
    height: 150px;
    float: left;
}

.panel-header-side {
    width: calc(100% - 150px);
    height: 150px;
    float: left;
}

.panel-header-text {
    float: left;
    width: 100%;

    .title {
        font-size: 36px;
    }
}