@use '../abstracts/variables' as base;
@import '../abstracts/mixins';

.image-icon {
    font-size: large;
    margin: auto;
}

.liked-songs-cover-s {
    @include liked-songs-cover(
        $width: base.$cover-image-small,
        $height: base.$cover-image-small
    );
}

.liked-songs-cover-m {
    @include liked-songs-cover(
        $width: base.$cover-image-medium,
        $height: base.$cover-image-medium
    );
}

.liked-songs-cover-l {
    @include liked-songs-cover(
        $width: base.$cover-image-large,
        $height: base.$cover-image-large
    );
}

.custom-image-cover-s {
    @include custom-image-cover(
        $width: base.$cover-image-small,
        $height: base.$cover-image-small
    );
}

.custom-image-cover-m {
    @include custom-image-cover(
        $width: base.$cover-image-medium,
        $height: base.$cover-image-medium
    );
}

.custom-image-cover-l {
    @include custom-image-cover(
        $width: base.$cover-image-large,
        $height: base.$cover-image-large
    );
}

.no-image-cover-s {
    @include no-image-cover(
        $width: base.$cover-image-small,
        $height: base.$cover-image-small
    );
}

.no-image-cover-m {
    @include no-image-cover(
        $width: base.$cover-image-medium,
        $height: base.$cover-image-medium
    );
}

.no-image-cover-l {
    @include no-image-cover(
        $width: base.$cover-image-large,
        $height: base.$cover-image-large
    );
}

.edit-image-cover {
    width: 50px;
    height: 50px;
    background: base.$grey;
    border-radius: 5px;
    cursor: pointer;
}