@use '../abstracts/variables' as base;

.volume-slider {
    min-width: 30%;
    max-width: 30%;
    color: base.$spotify-green !important;
}

.time-slider {
    min-width: 50%;
    max-width: 50%;
    color: base.$spotify-green !important;
}